{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
  <div class='outer clearfix'>
    <div class="px3 max-width-5 mx-auto">

      <div class="clearfix">
        <div class="col col-12 md-col-5 mt4 xs-hide sm-hide bg-navy">
          <img class='logo-spin fit' src='https://media.giphy.com/media/26FLdaDQ5f72FPbEI/giphy.gif' />
          <p class='white mb2 px2'>By Libby VanderPloeg via Giphy</p>
          <p class='white mb2 px2'>
There’s the drink-a-bottle-of-pinot-during-the-day type 🍷; the off hours reader 📚; the cosy kitchen baker; the herbal lover 🌿; the face mask enthusiast, etc. Whatever your winter survival strategy, we got the goods to make any freeze cosy, chill, and hella fun.
          </p>
        </div>

        <div class="col col-12 md-col-7 mt4">
          <div class='clearfix flex'>
            <div class='col md-col-7 pad-me'>
              <img class='fit mb2' src='static/images/logo.svg' />
            </div>
            <div class='col col-12 md-col-5 pl3 flex items-end xs-hide sm-hide'>
            </div>
          </div>

          <div class='clearfix'>
            <form id="mailchimp-form" class='mt2 pad-me'>
              <input type="email" placeholder='Enter Your Email to Win' />
              <button type="submit">ENTER</button>
            </form>
            <p id='mailchimp-outlet' class='blue pad-me'>Enter by August 10, 2017 to be in the draw.</p>
          </div>
        </div>
      </div>

      <div class="clearfix mb1 mt3">
        <div class="col col-12 mb2"><h6 class='prompt blue mt0 mb1'>The winner takes home:</h6></div>

        <!-- Product -->
        <a href='https://comingsoonnewyork.com/' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>Coming Soon</h3>
            <h5 class='mt0'>Gift Voucher</h5>
          </div>
          <img class='fit' src='static/images/brands/coming.jpg' />
        </a>
        <a href='https://www.shop-tetra.com/' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>Tetra Shop</h3>
            <h5 class='mt0'>Gift Voucher</h5>
          </div>
          <img class='fit' src='static/images/brands/tetra.jpg' />
        </a>
        <a href='https://www.capbeauty.com/collections/all#' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>Cap Beauty</h3>
            <h5 class='mt0'>Daily Hit</h5>
          </div>
          <img class='fit' src='static/images/brands/cap.jpg' />
        </a>
        <a href='http://www.paperclippottery.com' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>Baking Supply Co.</h3>
            <h5 class='mt0'>Box & Open Mitts</h5>
          </div>
          <img class='fit' src='static/images/brands/bsco.jpg' />
        </a>

        <!-- -->
        <a href='https://www.instagram.com/gossamer/' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>Gossamer</h3>
            <h5 class='mt0'>Yearly Subscription</h5>
          </div>
          <img class='fit' src='static/images/brands/goss.jpg' />
        </a>
        <a href='http://www.paperclippottery.com' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>[reads]</h3>
            <h5 class='mt0'>Kids & Adults Box</h5>
          </div>
          <img class='fit' src='static/images/brands/reads.jpg' />
        </a>
        <a href='https://www.levooil.com/' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>LEVO</h3>
            <h5 class='mt0'>Rose Gold Unit</h5>
          </div>
          <img class='fit' src='static/images/brands/levo.jpg' />
        </a>
        <a href='https://pineapplecollaborative.com/' target='_blank' class="product col col-12 sm-col-6 md-col-3 mb3">
          <div class='copy px3'>
            <h3 class='mb1'>Pineapple DC</h3>
            <h5 class='mt0'>Two free event passes + food hamper</h5>
          </div>
          <img class='fit' src='static/images/brands/pineapple.jpg' />
        </a>

        <!-- Product (LEVO) -->
        <!-- Product (Dame) -->
        <!-- Product -->
        <!-- Product -->
        <!-- Product -->
      </div>
    </div>

    <div class='clearfix'>
      <div class="col col-12 mb4 center">
        <h3 class='autofocus blue underline pointer'>Enter Now to Win!</h3>
        <p class='blue pad-me'>By entering the sweepstakes, I agree that I am over 18+. I also agree to receive email communication and special offers from the featured brands.</p>
      </div>
    </div>
  </div>
{% endblock %}
